@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Hidden h1-h6 heading */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mobile */
.page-header__wrapper {
  width: 320px;
  margin: auto;
}

.page-header__nav {
  display: flex;
  flex-direction: column;
}

.page-header {
  width: 320px;
}

.product-banner {
  width: 320px;
}

.product {
  width: 320px;
}

.block-description {
  width: 320px;
}

.page-privacy
 {
   width: 320px;
 }

.page-privacy__wrapper {
  padding: 0 20px;
  margin: 0 auto;
}

.block-description__conteiner {
  position: relative;
  background-image: url(../img/desc.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 400px;
  padding: 10px 20px;
}

.page-footer {
  padding: 20px 10px;
  width: 320px;
}

.page-footer__conteiner {
  display: flex;
  flex-direction: column;
}

.page-header__nav-list {
  display: flex;
  flex-direction: column;
}

.page-header__nav-logo-link {
  font-size: 28px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #a9ca2e;
  padding: 20px 0;
}

.page-footer__privacy {
  color: blue;
}

.page-footer__nav-logo-link {
  font-size: 28px;
  display: inline-block;
  text-align: center;
  color: #a9ca2e;
  padding-top: 20px;
  margin-bottom: 20px;
}

.page-header__nav-button {
  width: 30px;
  height: 30px;
  background: url(../img/open-img.svg) #ffffff center no-repeat;
  border: none;
  padding: 0;
  color: #a9ca2e;
  position: absolute;
  top: 17px;
  right: 35px;
}

.button-open {
  background: url(../img/close-img.svg) #ffffff center no-repeat;
}

.page-header__nav-link {
  text-transform: uppercase;
  padding: 15px 0;
  letter-spacing: 4px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.page-header__nav-link:hover {
  transition: 0.3s;
  color: #b2d430;
}

.page-header__nav-main-conteiner {
  position: relative;
  border-bottom: 1px solid #cdcdcd;
}

.page-header__nav-item {
  border-bottom: 1px solid #cdcdcd;
}

.page-header__nav-contact {
  min-width: 276px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 10px;
}

.product-banner__wrapper {
  width: 100%;
  margin: auto;
}

.product-banner__conteiner {
  position: relative;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 400px;
}

.product-banner__heading {
  color: #b2d430;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  padding: 50px 20px 20px 20px;
  margin: 0;
  text-shadow: black 5px 5px 3px;
}

.product__flex-conteiner {
  width: 100%;
  background: linear-gradient(#22271f, #82a2b4);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.product__img-conteiner {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.product__img {
  object-fit: contain;
  border-radius: 15px;
}

.product__product-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: #bfbfbf 0px 0px 0px 7px;
  width: 280px;
  min-height: 380px;
  border-radius: 15px;
  padding-bottom: 15px;
  margin: 0 20px 30px 20px;
}

.product_conteiner {
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__price-conteiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0 15px;
}

.product__product-name {
  color: #b2d430;
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.product__product-desc {
  color: #000000;
  text-align: right;
  margin-bottom: 10px;
  font-size: 20px;
}

.btn {
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b2d430;
  border: 0;
  outline: 0;
  text-decoration: none;
  border-radius: 25px;
}

.btn:hover {
  transition: 0.3s;
  background-color: #8ea826;
}

.block-description__heading {
  font-size: 32px;
  line-height: 40px;
  color: #b2d430;
  text-shadow: black -2px 2px 1px;
}

.block-description__desc {
  color: #ffffff;
  text-shadow: black -2px -2px 1px;
  font-size: 18px;
}

.page-footer__copyright {
  font-size: 16px;
}

.page-footer__desc {
  font-size: 16px;
}

.product__button-info {
  width: 200px;
  margin: 0 auto;
}

.close {
  display: none;
}

/* Adaptiv */
@media (min-width: 321px) {
  .page-header__wrapper {
    width: 100%;
    padding: 0 10px;
  }

  .page-header__nav-button {
    display: none;
  }

  .page-footer__copyright-box {
    padding-left: 20px;
  }

  .page-header__nav-main-conteiner {
    border: none;
  }

  .page-privacy
 {
   width: 100%;
 }

  .page-header {
    width: 100%;
  }

  .product-banner {
    width: 100%;
  }

  .product {
    width: 100%;
  }

  .page-footer {
    width: 100%;
  }

  .block-description {
    width: 100%;
  }

  .page-header__nav-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-banner__heading {
    font-size: 38px;
    line-height: 50px;
    padding: 100px 20px 20px 20px;
  }

  .page-footer__nav-logo-link {
    text-align: left;
    padding-top: 20px;
    margin-bottom: 0;
  }

  .page-header__nav-link {
    padding: 10px 0;
  }

  .page-header__nav {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .page-footer__conteiner {
    flex-direction: row;
  }

  .page-header__nav-list {
    min-width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .page-header__nav-item {
    margin: 0 10px;
    border: none;
  }

  .page-header__nav-link--active {
    border-bottom: 2px solid #b2d430;
  }
}

@media (min-width: 768px) {
  .product-banner__heading {
    font-size: 55px;
    line-height: 60px;
  }
}

@media (min-width: 1300px) {
  .product-banner__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .block-description__heading {
    font-size: 40px;
    line-height: 40px;
  }

  .block-description__desc {
    font-size: 24px;
  }
}

.modal {
  display: none;
  position: relative;
  background-color: #fff;
  border: 2px solid grey;
  position: fixed;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  overflow-y: scroll;
  margin: 0 auto;
  z-index: 5;
  animation: modalUp 0.5s ease-in-out forwards;
  box-shadow: black 0 0 20px 1px;
}

.modal-box {
  padding: 10px 30px 10px 10px;
}

.modal-box__button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/close-img.svg) #ffffff center no-repeat;
    border: none;
    padding: 0;
}

.content-show {
  display: block;
}

/* Animation/ */

@keyframes modalUp{
  0% {
      transform:  translateY(-800px);
  }

  100% {
    transform:  translateY(0);
  }
}

@keyframes textUp{
  0% {
      transform: translateY(50px);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes opacity{
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.block-description__desc {
  animation: textUp 0.8s ease-in-out forwards;
}

.block-description__heading {
  animation: textUp 0.8s ease-in-out forwards;
}

.product-banner__heading {
  animation: textUp 0.8s ease-in-out forwards;
}

.product__product-card {
  animation: opacity 1s ease-in-out forwards;
}

/* Стили для скролла */

::-webkit-scrollbar-track {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color:#b2d430;
  background-position: center;
  background-repeat: no-repeat
}

::-webkit-scrollbar {
  width: 10px
}